################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FlyboMovie/v15/Server/sqlite3
/FlyboMovie/obj
/FlyboMovie/Properties/PublishProfiles
/FlyboMovie/FlyboMovie.csproj.user
/.vs/FlyboMovie/v15
/.vs
/FlyboMovie/bin
