* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    font-family: 'Microsoft YaHei';
}

.header {
    height: 50px;
    background-color: darkcyan;
    color: white;
}

.nav {
    color: white;
}

.movie-uploader .poster-preview {
    position: relative;
    border: #ddd solid 1px;
    border-radius: 5px;
    height: 400px;
    
}

    .movie-uploader .poster-preview .poster-preview-action {
        height:10%;
        padding:10px;
        cursor:pointer;
    }

    .movie-uploader .poster-preview .poster-preview-area {
        height: 90%;
        background-color: #f5f5f5;
        border-top: #ddd solid 1px;
        text-align: center;
    }

        .movie-uploader .poster-preview .poster-preview-area img {
            max-width: 100%;
            max-height: 100%;
        }
