* {
    padding: 0;
    margin: 0;
}

body {
    width:100%;
    font-family:'Microsoft YaHei';
}

.header {
    height:50px;
    background-color:darkcyan;
    color:white;
}

.nav {
   color:white; 
}

.movie-uploader .poster-preview {
    text-align: center;
    border: #ddd solid 1px;
    border-radius: 5px;
}

    .movie-uploader .poster-preview img {
        height: 350px;
        text-align: center;
    }
