@model IList<FlyboMovie.Dtos.MovieLiteDto>

@if (Model != null)
{
    @foreach (var item in Model)
    {
        <div class="movie">
            <a asp-page="./Detail" asp-route-movieId="@item.Id">
                <img class="poster" src="@item.PosterLink" />
            </a>
            <div class="title">
                <span>@item.Name</span>
            </div>
        </div>
    }
}