@page
@model IndexModel
@{
    ViewData["Title"] = Model.PageTitle;
    ViewData["CurrentTab"] = Model.CurrntTab;

    Html.RenderPartial("Components/_MoviesListPartial", Model.Movies);
}

@*<div class="movie">
    <a href="#">
        <img class="poster" src="~/images/jizhan.jpg" />
    </a>
    <div class="title">
        <span>激战</span>
    </div>
</div>
<div class="movie">
    <a href="#">
        <img class="poster" src="~/images/leishen3.jpg" />
    </a>
    <div class="title">
        <span>雷神3</span>
    </div>
</div>
<div class="movie">
    <a href="#">
        <img class="poster" src="~/images/moshou.jpg" />
    </a>
    <div class="title">
        <span>魔兽</span>
    </div>
</div>
<div class="movie">
    <a href="#">
        <img class="poster" src="~/images/zhuoyaoji2.jpg" />
    </a>
    <div class="title">
        <span>捉妖记2</span>
    </div>
</div>
<div class="movie">
    <a href="#">
        <img class="poster" src="~/images/jizhan.jpg" />
    </a>
    <div class="title">
        <span>激战</span>
    </div>
</div>
<div class="movie">
    <a href="#">
        <img class="poster" src="~/images/leishen3.jpg" />
    </a>
    <div class="title">
        <span>雷神3</span>
    </div>
</div>
<div class="movie">
    <a href="#">
        <img class="poster" src="~/images/moshou.jpg" />
    </a>
    <div class="title">
        <span>魔兽</span>
    </div>
</div>
<div class="movie">
    <a href="#">
        <img class="poster" src="~/images/zhuoyaoji2.jpg" />
    </a>
    <div class="title">
        <span>捉妖记2</span>
    </div>
</div>
<div class="movie">
    <a href="#">
        <img class="poster" src="~/images/jizhan.jpg" />
    </a>
    <div class="title">
        <span>激战</span>
    </div>
</div>
<div class="movie">
    <a href="#">
        <img class="poster" src="~/images/leishen3.jpg" />
    </a>
    <div class="title">
        <span>雷神3</span>
    </div>
</div>
<div class="movie">
    <a href="#">
        <img class="poster" src="~/images/moshou.jpg" />
    </a>
    <div class="title">
        <span>魔兽</span>
    </div>
</div>
<div class="movie">
    <a href="#">
        <img class="poster" src="~/images/zhuoyaoji2.jpg" />
    </a>
    <div class="title">
        <span>捉妖记2</span>
    </div>
</div>*@

@*<section style="">
        <a asp-page="./Detail">
            <img class="poster" src="~/images/leishen3.jpg" />
        </a>
    </section>
    <section style="">
        <a asp-page="./Detail">
            <img class="poster" src="~/images/moshou.jpg" />
        </a>
    </section>*@