<!DOCTYPE html>
<html>

<head>
    <title>@ViewData["Title"] - 网站后台</title>
</head>

<body>
    <ul>
        <li><a asp-page="/Admin/OrderManage">订单管理</a></li>
        <li><a asp-page="/Admin/UserManage">用户管理</a></li>
    </ul>
    @RenderBody()
</body>

</html>